test/data/wsdl/v2014_02/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tranCust="urn:customers_2014_2.transactions.webservices.netsuite.com" xmlns:tranCustTyp="urn:types.customers_2014_2.transactions.webservices.netsuite.com" xmlns:platformCore="urn:core_2014_2.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2014_2.platform.webservices.netsuite.com" xmlns:platformCommon="urn:common_2014_2.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2014_2.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customers_2014_2.transactions.webservices.netsuite.com" elementFormDefault="qualified">
    <import namespace="urn:core_2014_2.platform.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/platform/v2014_2_0/core.xsd"/>
    <import namespace="urn:common_2014_2.platform.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/platform/v2014_2_0/common.xsd"/>
    <import namespace="urn:types.common_2014_2.platform.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/platform/v2014_2_0/commonTypes.xsd"/>
    <import namespace="urn:types.customers_2014_2.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2014_2_0/customerTypes.xsd"/>
    <!-- cashRefund/start -->
    <element name="CashRefund" type="tranCust:CashRefund"/>
    <complexType name="CashRefund">
        <complexContent>
            <extension base="platformCore:Record">
                <sequence>
                    <element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="lastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="customForm" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="entity" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="vatRegNum" type="xsd:string" minOccurs="0"/>
                    <element name="tranDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="tranId" type="xsd:string" minOccurs="0"/>
                    <element name="source" type="xsd:string" minOccurs="0"/>
                    <element name="createdFrom" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="postingPeriod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="leadSource" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="subsidiary" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="salesRep" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="partner" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="contribPct" type="xsd:string" minOccurs="0"/>
                    <element name="otherRefNum" type="xsd:string" minOccurs="0"/>
                    <element name="memo" type="xsd:string" minOccurs="0"/>
                    <element name="salesEffectiveDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="refundCheck" type="xsd:boolean" minOccurs="0"/>
                    <element name="toPrint2" type="xsd:boolean" minOccurs="0"/>
                    <element name="excludeCommission" type="xsd:boolean" minOccurs="0"/>
                    <element name="totalCostEstimate" type="xsd:double" minOccurs="0"/>
                    <element name="estGrossProfit" type="xsd:double" minOccurs="0"/>
                    <element name="estGrossProfitPercent" type="xsd:double" minOccurs="0"/>
                    <element name="account" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="currency" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="exchangeRate" type="xsd:double" minOccurs="0"/>
                    <element name="currencyName" type="xsd:string" minOccurs="0"/>
                    <element name="promoCode" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="discountItem" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="discountRate" type="xsd:string" minOccurs="0"/>
                    <element name="isTaxable" type="xsd:boolean" minOccurs="0"/>
                    <element name="taxItem" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="taxRate" type="xsd:double" minOccurs="0"/>
                    <element name="toBePrinted" type="xsd:boolean" minOccurs="0"/>
                    <element name="toBeEmailed" type="xsd:boolean" minOccurs="0"/>
                    <element name="email" type="xsd:string" minOccurs="0"/>
                    <element name="toBeFaxed" type="xsd:boolean" minOccurs="0"/>
                    <element name="fax" type="xsd:string" minOccurs="0"/>
                    <element name="messageSel" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="message" type="xsd:string" minOccurs="0"/>
                    <element name="billingAddress" type="platformCommon:Address" minOccurs="0"/>
                    <element name="billAddressList" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="shipMethod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="shippingTaxCode" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="shippingTax1Rate" type="xsd:double" minOccurs="0"/>
                    <element name="shippingTax2Rate" type="xsd:string" minOccurs="0"/>
                    <element name="shippingCost" type="xsd:double" minOccurs="0"/>
                    <element name="handlingTaxCode" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="handlingTax1Rate" type="xsd:double" minOccurs="0"/>
                    <element name="handlingTax2Rate" type="xsd:string" minOccurs="0"/>
                    <element name="handlingCost" type="xsd:double" minOccurs="0"/>
                    <element name="salesGroup" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="syncSalesTeams" type="xsd:boolean" minOccurs="0"/>
                    <element name="paymentMethod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="revenueStatus" type="platformCommonTyp:RevenueStatus" minOccurs="0"/>
                    <element name="recognizedRevenue" type="xsd:double" minOccurs="0"/>
                    <element name="deferredRevenue" type="xsd:double" minOccurs="0"/>
                    <element name="revRecOnRevCommitment" type="xsd:boolean" minOccurs="0"/>
                    <element name="creditCard" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="chargeIt" type="xsd:boolean" minOccurs="0"/>
                    <element name="ccNumber" type="xsd:string" minOccurs="0"/>
                    <element name="ccExpireDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="ccName" type="xsd:string" minOccurs="0"/>
                    <element name="ccStreet" type="xsd:string" minOccurs="0"/>
                    <element name="ccZipCode" type="xsd:string" minOccurs="0"/>
                    <element name="ccApproved" type="xsd:boolean" minOccurs="0"/>
                    <element name="creditCardProcessor" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="debitCardIssueNo" type="xsd:string" minOccurs="0"/>
                    <element name="pnRefNum" type="xsd:string" minOccurs="0"/>
                    <element name="validFrom" type="xsd:dateTime" minOccurs="0"/>
                    <element name="payPalTranId" type="xsd:string" minOccurs="0"/>
                    <element name="subTotal" type="xsd:double" minOccurs="0"/>
                    <element name="ccIsPurchaseCardBin" type="xsd:boolean" minOccurs="0"/>
                    <element name="discountTotal" type="xsd:double" minOccurs="0"/>
                    <element name="ccProcessAsPurchaseCard" type="xsd:boolean" minOccurs="0"/>
                    <element name="taxTotal" type="xsd:double" minOccurs="0"/>
                    <element name="tax2Total" type="xsd:double" minOccurs="0"/>
                    <element name="altShippingCost" type="xsd:double" minOccurs="0"/>
                    <element name="payPalStatus" type="xsd:string" minOccurs="0"/>
                    <element name="altHandlingCost" type="xsd:double" minOccurs="0"/>
                    <element name="total" type="xsd:double" minOccurs="0"/>
                    <element name="payPalAuthId" type="xsd:string" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="job" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="giftCert" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="giftCertTotal" type="xsd:double" minOccurs="0"/>
                    <element name="giftCertApplied" type="xsd:double" minOccurs="0"/>
                    <element name="giftCertAvailable" type="xsd:double" minOccurs="0"/>
                    <element name="tranIsVsoeBundle" type="xsd:boolean" minOccurs="0"/>
                    <element name="payPalProcess" type="xsd:boolean" minOccurs="0"/>
                    <element name="vsoeAutoCalc" type="xsd:boolean" minOccurs="0"/>
                    <element name="syncPartnerTeams" type="xsd:boolean" minOccurs="0"/>
                    <element name="itemList" type="tranCust:CashRefundItemList" minOccurs="0"/>
                    <element name="salesTeamList" type="tranCust:CashRefundSalesTeamList" minOccurs="0"/>
                    <element name="partnersList" type="tranCust:CashRefundPartnersList" minOccurs="0"/>
                    <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
                </sequence>
                <!-- primary record internalId -->
                <attribute name="internalId" type="xsd:string"/>
                <attribute name="externalId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CashRefundItem">
        <sequence>
            <element name="job" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="item" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="orderLine" type="xsd:long" minOccurs="0"/>
            <element name="quantity" type="xsd:double" minOccurs="0"/>
            <element name="units" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="inventoryDetail" type="platformCommon:InventoryDetail" minOccurs="0"/>
            <element name="binNumbers" type="xsd:string" minOccurs="0"/>
            <element name="serialNumbers" type="xsd:string" minOccurs="0"/>
            <element name="description" type="xsd:string" minOccurs="0"/>
            <element name="price" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="rate" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
            <element name="taxCode" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="taxRate1" type="xsd:string" minOccurs="0"/>
            <element name="taxRate2" type="xsd:string" minOccurs="0"/>
            <element name="tax1Amt" type="xsd:double" minOccurs="0"/>
            <element name="grossAmt" type="xsd:double" minOccurs="0"/>
            <element name="isTaxable" type="xsd:boolean" minOccurs="0"/>
            <element name="options" type="platformCore:CustomFieldList" minOccurs="0"/>
            <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="revRecSchedule" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="revRecStartDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="revRecEndDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="catchUpPeriod" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="deferRevRec" type="xsd:boolean" minOccurs="0"/>
            <element name="giftCertFrom" type="xsd:string" minOccurs="0"/>
            <element name="costEstimateType" type="platformCommonTyp:ItemCostEstimateType" minOccurs="0"/>
            <element name="costEstimate" type="xsd:double" minOccurs="0"/>
            <element name="giftCertRecipientName" type="xsd:string" minOccurs="0"/>
            <element name="giftCertRecipientEmail" type="xsd:string" minOccurs="0"/>
            <element name="giftCertMessage" type="xsd:string" minOccurs="0"/>
            <element name="giftCertNumber" type="xsd:string" minOccurs="0"/>
            <element name="vsoeSopGroup" type="platformCommonTyp:VsoeSopGroup" minOccurs="0"/>
            <element name="vsoeIsEstimate" type="xsd:boolean" minOccurs="0"/>
            <element name="vsoePrice" type="xsd:double" minOccurs="0"/>
            <element name="vsoeAmount" type="xsd:double" minOccurs="0"/>
            <element name="vsoeAllocation" type="xsd:double" minOccurs="0"/>
            <element name="vsoeDeferral" type="platformCommonTyp:VsoeDeferral" minOccurs="0"/>
            <element name="vsoePermitDiscount" type="platformCommonTyp:VsoePermitDiscount" minOccurs="0"/>
            <element name="vsoeDelivered" type="xsd:boolean" minOccurs="0"/>
            <element name="chargeType" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="chargesList" type="platformCore:RecordRefList" minOccurs="0"/>
            <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CashRefundItemList">
        <sequence>
            <element name="item" type="tranCust:CashRefundItem" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="CashRefundSalesTeam">
        <sequence>
            <element name="employee" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="salesRole" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="isPrimary" type="xsd:boolean" minOccurs="0"/>
            <element name="contribution" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CashRefundSalesTeamList">
        <sequence>
            <element name="salesTeam" type="tranCust:CashRefundSalesTeam" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="CashRefundPartnersList">
        <sequence>
            <element name="partners" type="platformCommon:Partners" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <!-- cashRefund/end -->
    <!-- customerPayment/start -->
    <element name="CustomerPayment" type="tranCust:CustomerPayment"/>
    <complexType name="CustomerPayment">
        <complexContent>
            <extension base="platformCore:Record">
                <sequence>
                    <element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="lastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="customForm" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="arAcct" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="customer" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="balance" type="xsd:double" minOccurs="0"/>
                    <element name="pending" type="xsd:double" minOccurs="0"/>
                    <element name="currency" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="payment" type="xsd:double" minOccurs="0"/>
                    <element name="autoApply" type="xsd:boolean" minOccurs="0"/>
                    <element name="tranDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="postingPeriod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="paymentMethod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="ccIsPurchaseCardBin" type="xsd:boolean" minOccurs="0"/>
                    <element name="memo" type="xsd:string" minOccurs="0"/>
                    <element name="ccProcessAsPurchaseCard" type="xsd:boolean" minOccurs="0"/>
                    <element name="checkNum" type="xsd:string" minOccurs="0"/>
                    <element name="currencyName" type="xsd:string" minOccurs="0"/>
                    <element name="exchangeRate" type="xsd:double" minOccurs="0"/>
                    <element name="creditCard" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="chargeIt" type="xsd:boolean" minOccurs="0"/>
                    <element name="ccNumber" type="xsd:string" minOccurs="0"/>
                    <element name="ccExpireDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="ccName" type="xsd:string" minOccurs="0"/>
                    <element name="ccStreet" type="xsd:string" minOccurs="0"/>
                    <element name="ccZipCode" type="xsd:string" minOccurs="0"/>
                    <element name="ccApproved" type="xsd:boolean" minOccurs="0"/>
                    <element name="authCode" type="xsd:string" minOccurs="0"/>
                    <element name="ccAvsStreetMatch" type="platformCommonTyp:AvsMatchCode" minOccurs="0"/>
                    <element name="ccAvsZipMatch" type="platformCommonTyp:AvsMatchCode" minOccurs="0"/>
                    <element name="isRecurringPayment" type="xsd:boolean" minOccurs="0"/>
                    <element name="ccSecurityCode" type="xsd:string" minOccurs="0"/>
                    <element name="ignoreAvs" type="xsd:boolean" minOccurs="0"/>
                    <element name="ccSecurityCodeMatch" type="platformCommonTyp:AvsMatchCode" minOccurs="0"/>
                    <element name="threeDStatusCode" type="xsd:string" minOccurs="0"/>
                    <element name="pnRefNum" type="xsd:string" minOccurs="0"/>
                    <element name="creditCardProcessor" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="debitCardIssueNo" type="xsd:string" minOccurs="0"/>
                    <element name="validFrom" type="xsd:dateTime" minOccurs="0"/>
                    <element name="undepFunds" type="xsd:boolean" minOccurs="0"/>
                    <element name="account" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="total" type="xsd:double" minOccurs="0"/>
                    <element name="subsidiary" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="applied" type="xsd:double" minOccurs="0"/>
                    <element name="unapplied" type="xsd:double" minOccurs="0"/>
                    <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="applyList" type="tranCust:CustomerPaymentApplyList" minOccurs="0"/>
                    <element name="creditList" type="tranCust:CustomerPaymentCreditList" minOccurs="0"/>
                    <element name="depositList" type="tranCust:CustomerPaymentDepositList" minOccurs="0"/>
                    <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
                </sequence>
                <!-- primary record internalId -->
                <attribute name="internalId" type="xsd:string"/>
                <attribute name="externalId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CustomerPaymentApply">
        <sequence>
            <element name="apply" type="xsd:boolean" minOccurs="0"/>
            <element name="doc" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="applyDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="job" type="xsd:string" minOccurs="0"/>
            <element name="type" type="xsd:string" minOccurs="0"/>
            <element name="refNum" type="xsd:string" minOccurs="0"/>
            <element name="total" type="xsd:double" minOccurs="0"/>
            <element name="due" type="xsd:double" minOccurs="0"/>
            <element name="currency" type="xsd:string" minOccurs="0"/>
            <element name="discDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="discAmt" type="xsd:double" minOccurs="0"/>
            <element name="disc" type="xsd:double" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CustomerPaymentApplyList">
        <sequence>
            <element name="apply" type="tranCust:CustomerPaymentApply" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="CustomerPaymentCredit">
        <sequence>
            <element name="apply" type="xsd:boolean" minOccurs="0"/>
            <element name="doc" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="creditDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="type" type="xsd:string" minOccurs="0"/>
            <element name="refNum" type="xsd:string" minOccurs="0"/>
            <element name="appliedTo" type="xsd:string" minOccurs="0"/>
            <element name="total" type="xsd:double" minOccurs="0"/>
            <element name="due" type="xsd:double" minOccurs="0"/>
            <element name="currency" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CustomerPaymentCreditList">
        <sequence>
            <element name="credit" type="tranCust:CustomerPaymentCredit" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="CustomerPaymentDeposit">
        <sequence>
            <element name="apply" type="xsd:boolean" minOccurs="0"/>
            <element name="doc" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="depositDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="refNum" type="xsd:string" minOccurs="0"/>
            <element name="total" type="xsd:double" minOccurs="0"/>
            <element name="remaining" type="xsd:double" minOccurs="0"/>
            <element name="currency" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CustomerPaymentDepositList">
        <sequence>
            <element name="deposit" type="tranCust:CustomerPaymentDeposit" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <!-- customerPayment/end -->
    <!-- returnAuthorization/start -->
    <element name="ReturnAuthorization" type="tranCust:ReturnAuthorization"/>
    <complexType name="ReturnAuthorization">
        <complexContent>
            <extension base="platformCore:Record">
                <sequence>
                    <element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="lastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="customForm" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="currency" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="entity" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="vatRegNum" type="xsd:string" minOccurs="0"/>
                    <element name="tranDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="tranId" type="xsd:string" minOccurs="0"/>
                    <element name="source" type="xsd:string" minOccurs="0"/>
                    <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="subsidiary" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="intercoTransaction" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="intercoStatus" type="platformCommonTyp:IntercoStatus" minOccurs="0"/>
                    <element name="job" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="partner" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="otherRefNum" type="xsd:string" minOccurs="0"/>
                    <element name="leadSource" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="memo" type="xsd:string" minOccurs="0"/>
                    <element name="drAccount" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="fxAccount" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="salesEffectiveDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="createdFrom" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="revRecSchedule" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="totalCostEstimate" type="xsd:double" minOccurs="0"/>
                    <element name="estGrossProfit" type="xsd:double" minOccurs="0"/>
                    <element name="estGrossProfitPercent" type="xsd:double" minOccurs="0"/>
                    <element name="revRecStartDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="revRecEndDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="excludeCommission" type="xsd:boolean" minOccurs="0"/>
                    <element name="exchangeRate" type="xsd:double" minOccurs="0"/>
                    <element name="currencyName" type="xsd:string" minOccurs="0"/>
                    <element name="discountItem" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="discountRate" type="xsd:string" minOccurs="0"/>
                    <element name="taxItem" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="taxRate" type="xsd:double" minOccurs="0"/>
                    <element name="toBePrinted" type="xsd:boolean" minOccurs="0"/>
                    <element name="toBeEmailed" type="xsd:boolean" minOccurs="0"/>
                    <element name="toBeFaxed" type="xsd:boolean" minOccurs="0"/>
                    <element name="messageSel" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="message" type="xsd:string" minOccurs="0"/>
                    <element name="billingAddress" type="platformCommon:Address" minOccurs="0"/>
                    <element name="billAddressList" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="shipAddressList" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="shipAddress" type="xsd:string" minOccurs="0"/>
                    <element name="salesGroup" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="syncSalesTeams" type="xsd:boolean" minOccurs="0"/>
                    <element name="revenueStatus" type="platformCommonTyp:RevenueStatus" minOccurs="0"/>
                    <element name="recognizedRevenue" type="xsd:double" minOccurs="0"/>
                    <element name="deferredRevenue" type="xsd:double" minOccurs="0"/>
                    <element name="revRecOnRevCommitment" type="xsd:boolean" minOccurs="0"/>
                    <element name="revCommitStatus" type="platformCommonTyp:RevenueCommitStatus" minOccurs="0"/>
                    <element name="paymentMethod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="creditCard" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="ccNumber" type="xsd:string" minOccurs="0"/>
                    <element name="altSalesTotal" type="xsd:double" minOccurs="0"/>
                    <element name="ccExpireDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="ccName" type="xsd:string" minOccurs="0"/>
                    <element name="ccStreet" type="xsd:string" minOccurs="0"/>
                    <element name="ccZipCode" type="xsd:string" minOccurs="0"/>
                    <element name="ccApproved" type="xsd:boolean" minOccurs="0"/>
                    <element name="pnRefNum" type="xsd:string" minOccurs="0"/>
                    <element name="subTotal" type="xsd:double" minOccurs="0"/>
                    <element name="discountTotal" type="xsd:double" minOccurs="0"/>
                    <element name="total" type="xsd:double" minOccurs="0"/>
                    <element name="creditCardProcessor" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="payPalAuthId" type="xsd:string" minOccurs="0"/>
                    <element name="payPalProcess" type="xsd:boolean" minOccurs="0"/>
                    <element name="email" type="xsd:string" minOccurs="0"/>
                    <element name="fax" type="xsd:string" minOccurs="0"/>
                    <element name="debitCardIssueNo" type="xsd:string" minOccurs="0"/>
                    <element name="isTaxable" type="xsd:boolean" minOccurs="0"/>
                    <element name="promoCode" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="taxTotal" type="xsd:double" minOccurs="0"/>
                    <element name="tax2Total" type="xsd:double" minOccurs="0"/>
                    <element name="validFrom" type="xsd:dateTime" minOccurs="0"/>
                    <element name="orderStatus" type="tranCustTyp:ReturnAuthorizationOrderStatus" minOccurs="0"/>
                    <element name="salesRep" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="giftCert" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="contribPct" type="xsd:string" minOccurs="0"/>
                    <element name="giftCertTotal" type="xsd:double" minOccurs="0"/>
                    <element name="giftCertApplied" type="xsd:double" minOccurs="0"/>
                    <element name="giftCertAvailable" type="xsd:double" minOccurs="0"/>
                    <element name="tranIsVsoeBundle" type="xsd:boolean" minOccurs="0"/>
                    <element name="vsoeAutoCalc" type="xsd:boolean" minOccurs="0"/>
                    <element name="syncPartnerTeams" type="xsd:boolean" minOccurs="0"/>
                    <element name="itemList" type="tranCust:ReturnAuthorizationItemList" minOccurs="0"/>
                    <element name="salesTeamList" type="tranCust:ReturnAuthorizationSalesTeamList" minOccurs="0"/>
                    <element name="partnersList" type="tranCust:ReturnAuthorizationPartnersList" minOccurs="0"/>
                    <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
                </sequence>
                <!-- primary record internalId -->
                <attribute name="internalId" type="xsd:string"/>
                <attribute name="externalId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ReturnAuthorizationItem">
        <sequence>
            <element name="job" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="item" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="orderLine" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="quantity" type="xsd:double" minOccurs="0"/>
            <element name="quantityReceived" type="xsd:double" minOccurs="0"/>
            <element name="quantityBilled" type="xsd:double" minOccurs="0"/>
            <element name="units" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="inventoryDetail" type="platformCommon:InventoryDetail" minOccurs="0"/>
            <element name="description" type="xsd:string" minOccurs="0"/>
            <element name="serialNumbers" type="xsd:string" minOccurs="0"/>
            <element name="price" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="rate" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
            <element name="options" type="platformCore:CustomFieldList" minOccurs="0"/>
            <element name="revRecTermInMonths" type="xsd:long" minOccurs="0"/>
            <element name="deferRevRec" type="xsd:boolean" minOccurs="0"/>
            <element name="isClosed" type="xsd:boolean" minOccurs="0"/>
            <element name="isDropShipment" type="xsd:boolean" minOccurs="0"/>
            <element name="catchUpPeriod" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="costEstimateType" type="platformCommonTyp:ItemCostEstimateType" minOccurs="0"/>
            <element name="costEstimate" type="xsd:double" minOccurs="0"/>
            <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="revRecSchedule" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="revRecStartDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="revRecEndDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="taxCode" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="taxRate1" type="xsd:double" minOccurs="0"/>
            <element name="taxRate2" type="xsd:double" minOccurs="0"/>
            <element name="tax1Amt" type="xsd:double" minOccurs="0"/>
            <element name="grossAmt" type="xsd:double" minOccurs="0"/>
            <element name="isTaxable" type="xsd:boolean" minOccurs="0"/>
            <element name="giftCertFrom" type="xsd:string" minOccurs="0"/>
            <element name="giftCertRecipientName" type="xsd:string" minOccurs="0"/>
            <element name="giftCertRecipientEmail" type="xsd:string" minOccurs="0"/>
            <element name="giftCertMessage" type="xsd:string" minOccurs="0"/>
            <element name="giftCertNumber" type="xsd:string" minOccurs="0"/>
            <element name="vsoeSopGroup" type="platformCommonTyp:VsoeSopGroup" minOccurs="0"/>
            <element name="vsoeIsEstimate" type="xsd:boolean" minOccurs="0"/>
            <element name="vsoePrice" type="xsd:double" minOccurs="0"/>
            <element name="vsoeAmount" type="xsd:double" minOccurs="0"/>
            <element name="altSalesAmt" type="xsd:double" minOccurs="0"/>
            <element name="vsoeAllocation" type="xsd:double" minOccurs="0"/>
            <element name="vsoeDeferral" type="platformCommonTyp:VsoeDeferral" minOccurs="0"/>
            <element name="vsoePermitDiscount" type="platformCommonTyp:VsoePermitDiscount" minOccurs="0"/>
            <element name="vsoeDelivered" type="xsd:boolean" minOccurs="0"/>
            <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="ReturnAuthorizationItemList">
        <sequence>
            <element name="item" type="tranCust:ReturnAuthorizationItem" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="ReturnAuthorizationSalesTeam">
        <sequence>
            <element name="employee" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="salesRole" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="isPrimary" type="xsd:boolean" minOccurs="0"/>
            <element name="contribution" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="ReturnAuthorizationSalesTeamList">
        <sequence>
            <element name="salesTeam" type="tranCust:ReturnAuthorizationSalesTeam" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="ReturnAuthorizationPartnersList">
        <sequence>
            <element name="partners" type="platformCommon:Partners" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <!-- returnAuthorization/end -->
    <!-- creditMemo/start -->
    <element name="CreditMemo" type="tranCust:CreditMemo"/>
    <complexType name="CreditMemo">
        <complexContent>
            <extension base="platformCore:Record">
                <sequence>
                    <element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="lastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="customForm" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="currency" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="entity" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="vatRegNum" type="xsd:string" minOccurs="0"/>
                    <element name="tranDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="tranId" type="xsd:string" minOccurs="0"/>
                    <element name="createdFrom" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="postingPeriod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="subsidiary" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="job" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="salesRep" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="partner" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="contribPct" type="xsd:string" minOccurs="0"/>
                    <element name="otherRefNum" type="xsd:string" minOccurs="0"/>
                    <element name="memo" type="xsd:string" minOccurs="0"/>
                    <element name="excludeCommission" type="xsd:boolean" minOccurs="0"/>
                    <element name="leadSource" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="balance" type="xsd:double" minOccurs="0"/>
                    <element name="account" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="exchangeRate" type="xsd:double" minOccurs="0"/>
                    <element name="onCreditHold" type="xsd:string" minOccurs="0"/>
                    <element name="amountPaid" type="xsd:double" minOccurs="0"/>
                    <element name="salesEffectiveDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="totalCostEstimate" type="xsd:double" minOccurs="0"/>
                    <element name="estGrossProfit" type="xsd:double" minOccurs="0"/>
                    <element name="estGrossProfitPercent" type="xsd:double" minOccurs="0"/>
                    <element name="currencyName" type="xsd:string" minOccurs="0"/>
                    <element name="promoCode" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="amountRemaining" type="xsd:double" minOccurs="0"/>
                    <element name="discountItem" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="source" type="xsd:string" minOccurs="0"/>
                    <element name="discountRate" type="xsd:string" minOccurs="0"/>
                    <element name="isTaxable" type="xsd:boolean" minOccurs="0"/>
                    <element name="taxItem" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="taxRate" type="xsd:double" minOccurs="0"/>
                    <element name="unapplied" type="xsd:double" minOccurs="0"/>
                    <element name="autoApply" type="xsd:boolean" minOccurs="0"/>
                    <element name="applied" type="xsd:double" minOccurs="0"/>
                    <element name="toBePrinted" type="xsd:boolean" minOccurs="0"/>
                    <element name="toBeEmailed" type="xsd:boolean" minOccurs="0"/>
                    <element name="email" type="xsd:string" minOccurs="0"/>
                    <element name="toBeFaxed" type="xsd:boolean" minOccurs="0"/>
                    <element name="fax" type="xsd:string" minOccurs="0"/>
                    <element name="messageSel" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="message" type="xsd:string" minOccurs="0"/>
                    <element name="billingAddress" type="platformCommon:Address" minOccurs="0"/>
                    <element name="billAddressList" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="shipMethod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="shippingCost" type="xsd:double" minOccurs="0"/>
                    <element name="shippingTax1Rate" type="xsd:double" minOccurs="0"/>
                    <element name="shippingTaxCode" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="handlingTaxCode" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="shippingTax2Rate" type="xsd:string" minOccurs="0"/>
                    <element name="handlingTax1Rate" type="xsd:double" minOccurs="0"/>
                    <element name="handlingTax2Rate" type="xsd:string" minOccurs="0"/>
                    <element name="handlingCost" type="xsd:double" minOccurs="0"/>
                    <element name="subTotal" type="xsd:double" minOccurs="0"/>
                    <element name="discountTotal" type="xsd:double" minOccurs="0"/>
                    <element name="revenueStatus" type="platformCommonTyp:RevenueStatus" minOccurs="0"/>
                    <element name="recognizedRevenue" type="xsd:double" minOccurs="0"/>
                    <element name="deferredRevenue" type="xsd:double" minOccurs="0"/>
                    <element name="revRecOnRevCommitment" type="xsd:boolean" minOccurs="0"/>
                    <element name="taxTotal" type="xsd:double" minOccurs="0"/>
                    <element name="tax2Total" type="xsd:double" minOccurs="0"/>
                    <element name="altShippingCost" type="xsd:double" minOccurs="0"/>
                    <element name="altHandlingCost" type="xsd:double" minOccurs="0"/>
                    <element name="total" type="xsd:double" minOccurs="0"/>
                    <element name="salesGroup" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="syncSalesTeams" type="xsd:boolean" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="giftCert" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="giftCertTotal" type="xsd:double" minOccurs="0"/>
                    <element name="giftCertApplied" type="xsd:double" minOccurs="0"/>
                    <element name="giftCertAvailable" type="xsd:double" minOccurs="0"/>
                    <element name="tranIsVsoeBundle" type="xsd:boolean" minOccurs="0"/>
                    <element name="vsoeAutoCalc" type="xsd:boolean" minOccurs="0"/>
                    <element name="syncPartnerTeams" type="xsd:boolean" minOccurs="0"/>
                    <element name="salesTeamList" type="tranCust:CreditMemoSalesTeamList" minOccurs="0"/>
                    <element name="itemList" type="tranCust:CreditMemoItemList" minOccurs="0"/>
                    <element name="partnersList" type="tranCust:CreditMemoPartnersList" minOccurs="0"/>
                    <element name="applyList" type="tranCust:CreditMemoApplyList" minOccurs="0"/>
                    <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
                </sequence>
                <!-- primary record internalId -->
                <attribute name="internalId" type="xsd:string"/>
                <attribute name="externalId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CreditMemoSalesTeam">
        <sequence>
            <element name="employee" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="salesRole" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="isPrimary" type="xsd:boolean" minOccurs="0"/>
            <element name="contribution" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CreditMemoSalesTeamList">
        <sequence>
            <element name="salesTeam" type="tranCust:CreditMemoSalesTeam" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="CreditMemoItem">
        <sequence>
            <element name="job" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="item" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="orderLine" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="quantity" type="xsd:double" minOccurs="0"/>
            <element name="description" type="xsd:string" minOccurs="0"/>
            <element name="binNumbers" type="xsd:string" minOccurs="0"/>
            <element name="price" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="rate" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
            <element name="isTaxable" type="xsd:boolean" minOccurs="0"/>
            <element name="options" type="platformCore:CustomFieldList" minOccurs="0"/>
            <element name="taxCode" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="taxRate1" type="xsd:double" minOccurs="0"/>
            <element name="taxRate2" type="xsd:double" minOccurs="0"/>
            <element name="tax1Amt" type="xsd:double" minOccurs="0"/>
            <element name="grossAmt" type="xsd:double" minOccurs="0"/>
            <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="costEstimateType" type="platformCommonTyp:ItemCostEstimateType" minOccurs="0"/>
            <element name="costEstimate" type="xsd:double" minOccurs="0"/>
            <element name="revRecSchedule" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="revRecStartDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="revRecTermInMonths" type="xsd:long" minOccurs="0"/>
            <element name="revRecEndDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="units" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="inventoryDetail" type="platformCommon:InventoryDetail" minOccurs="0"/>
            <element name="serialNumbers" type="xsd:string" minOccurs="0"/>
            <element name="deferRevRec" type="xsd:boolean" minOccurs="0"/>
            <element name="giftCertFrom" type="xsd:string" minOccurs="0"/>
            <element name="giftCertRecipientName" type="xsd:string" minOccurs="0"/>
            <element name="giftCertRecipientEmail" type="xsd:string" minOccurs="0"/>
            <element name="giftCertMessage" type="xsd:string" minOccurs="0"/>
            <element name="giftCertNumber" type="xsd:string" minOccurs="0"/>
            <element name="vsoeSopGroup" type="platformCommonTyp:VsoeSopGroup" minOccurs="0"/>
            <element name="vsoeIsEstimate" type="xsd:boolean" minOccurs="0"/>
            <element name="vsoePrice" type="xsd:double" minOccurs="0"/>
            <element name="vsoeAmount" type="xsd:double" minOccurs="0"/>
            <element name="vsoeAllocation" type="xsd:double" minOccurs="0"/>
            <element name="vsoeDeferral" type="platformCommonTyp:VsoeDeferral" minOccurs="0"/>
            <element name="vsoePermitDiscount" type="platformCommonTyp:VsoePermitDiscount" minOccurs="0"/>
            <element name="vsoeDelivered" type="xsd:boolean" minOccurs="0"/>
            <element name="catchUpPeriod" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="chargeType" type="platformCore:RecordRef" minOccurs="0"/>
            <element name="chargesList" type="platformCore:RecordRefList" minOccurs="0"/>
            <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CreditMemoItemList">
        <sequence>
            <element name="item" type="tranCust:CreditMemoItem" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="CreditMemoApply">
        <sequence>
            <element name="apply" type="xsd:boolean" minOccurs="0"/>
            <element name="doc" type="xsd:long" minOccurs="0"/>
            <element name="applyDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="job" type="xsd:string" minOccurs="0"/>
            <element name="type" type="xsd:string" minOccurs="0"/>
            <element name="refNum" type="xsd:string" minOccurs="0"/>
            <element name="total" type="xsd:double" minOccurs="0"/>
            <element name="due" type="xsd:double" minOccurs="0"/>
            <element name="currency" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CreditMemoApplyList">
        <sequence>
            <element name="apply" type="tranCust:CreditMemoApply" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="CreditMemoPartnersList">
        <sequence>
            <element name="partners" type="platformCommon:Partners" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <!-- creditMemo/end -->
    <!-- customerRefund/start -->
    <element name="CustomerRefund" type="tranCust:CustomerRefund"/>
    <complexType name="CustomerRefund">
        <complexContent>
            <extension base="platformCore:Record">
                <sequence>
                    <element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="lastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="transactionNumber" type="xsd:string" minOccurs="0"/>
                    <element name="customer" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="customForm" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="balance" type="xsd:double" minOccurs="0"/>
                    <element name="arAcct" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="currencyName" type="xsd:string" minOccurs="0"/>
                    <element name="exchangeRate" type="xsd:double" minOccurs="0"/>
                    <element name="address" type="xsd:string" minOccurs="0"/>
                    <element name="total" type="xsd:double" minOccurs="0"/>
                    <element name="currency" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="tranDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="voidJournal" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="postingPeriod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="memo" type="xsd:string" minOccurs="0"/>
                    <element name="paymentMethod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="account" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="toBePrinted" type="xsd:boolean" minOccurs="0"/>
                    <element name="tranId" type="xsd:string" minOccurs="0"/>
                    <element name="debitCardIssueNo" type="xsd:string" minOccurs="0"/>
                    <element name="creditCardProcessor" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="chargeIt" type="xsd:boolean" minOccurs="0"/>
                    <element name="pnRefNum" type="xsd:string" minOccurs="0"/>
                    <element name="validFrom" type="xsd:dateTime" minOccurs="0"/>
                    <element name="subsidiary" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="creditCard" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="ccIsPurchaseCardBin" type="xsd:boolean" minOccurs="0"/>
                    <element name="ccNumber" type="xsd:string" minOccurs="0"/>
                    <element name="ccProcessAsPurchaseCard" type="xsd:boolean" minOccurs="0"/>
                    <element name="ccExpireDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="ccName" type="xsd:string" minOccurs="0"/>
                    <element name="ccStreet" type="xsd:string" minOccurs="0"/>
                    <element name="ccZipCode" type="xsd:string" minOccurs="0"/>
                    <element name="ccApproved" type="xsd:boolean" minOccurs="0"/>
                    <element name="applyList" type="tranCust:CustomerRefundApplyList" minOccurs="0"/>
                    <element name="depositList" type="tranCust:CustomerRefundDepositList" minOccurs="0"/>
                    <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
                </sequence>
                <!-- primary record internalId -->
                <attribute name="internalId" type="xsd:string"/>
                <attribute name="externalId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CustomerRefundApply">
        <sequence>
            <element name="apply" type="xsd:boolean" minOccurs="0"/>
            <element name="doc" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="applyDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="type" type="xsd:string" minOccurs="0"/>
            <element name="refNum" type="xsd:string" minOccurs="0"/>
            <element name="total" type="xsd:double" minOccurs="0"/>
            <element name="due" type="xsd:double" minOccurs="0"/>
            <element name="currency" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CustomerRefundApplyList">
        <sequence>
            <element name="apply" type="tranCust:CustomerRefundApply" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <complexType name="CustomerRefundDeposit">
        <sequence>
            <element name="apply" type="xsd:boolean" minOccurs="0"/>
            <element name="doc" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="depositDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="refNum" type="xsd:string" minOccurs="0"/>
            <element name="total" type="xsd:double" minOccurs="0"/>
            <element name="remaining" type="xsd:double" minOccurs="0"/>
            <element name="currency" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CustomerRefundDepositList">
        <sequence>
            <element name="customerRefundDeposit" type="tranCust:CustomerRefundDeposit" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <!-- customerRefund/end -->
    <!-- customerDeposit/start -->
    <element name="CustomerDeposit" type="tranCust:CustomerDeposit"/>
    <complexType name="CustomerDeposit">
        <complexContent>
            <extension base="platformCore:Record">
                <sequence>
                    <element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="lastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="customer" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="salesOrder" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="customForm" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="payment" type="xsd:double" minOccurs="0"/>
                    <element name="currency" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="tranDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="postingPeriod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="paymentMethod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="ccIsPurchaseCardBin" type="xsd:boolean" minOccurs="0"/>
                    <element name="memo" type="xsd:string" minOccurs="0"/>
                    <element name="ccProcessAsPurchaseCard" type="xsd:boolean" minOccurs="0"/>
                    <element name="currencyName" type="xsd:string" minOccurs="0"/>
                    <element name="exchangeRate" type="xsd:double" minOccurs="0"/>
                    <element name="checkNum" type="xsd:string" minOccurs="0"/>
                    <element name="creditCardProcessor" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="creditCard" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="ccSecurityCode" type="xsd:string" minOccurs="0"/>
                    <element name="ccNumber" type="xsd:string" minOccurs="0"/>
                    <element name="subsidiary" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="ccExpireDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="debitCardIssueNo" type="xsd:string" minOccurs="0"/>
                    <element name="validFrom" type="xsd:dateTime" minOccurs="0"/>
                    <element name="ccName" type="xsd:string" minOccurs="0"/>
                    <element name="ccStreet" type="xsd:string" minOccurs="0"/>
                    <element name="ccZipCode" type="xsd:string" minOccurs="0"/>
                    <element name="chargeIt" type="xsd:boolean" minOccurs="0"/>
                    <element name="ccApproved" type="xsd:boolean" minOccurs="0"/>
                    <element name="pnRefNum" type="xsd:string" minOccurs="0"/>
                    <element name="authCode" type="xsd:string" minOccurs="0"/>
                    <element name="ccAvsStreetMatch" type="platformCommonTyp:AvsMatchCode" minOccurs="0"/>
                    <element name="softDescriptor" type="xsd:string" minOccurs="0"/>
                    <element name="ccAvsZipMatch" type="platformCommonTyp:AvsMatchCode" minOccurs="0"/>
                    <element name="isRecurringPayment" type="xsd:boolean" minOccurs="0"/>
                    <element name="ccSecurityCodeMatch" type="platformCommonTyp:AvsMatchCode" minOccurs="0"/>
                    <element name="threeDStatusCode" type="xsd:string" minOccurs="0"/>
                    <element name="ignoreAvs" type="xsd:boolean" minOccurs="0"/>
                    <element name="account" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="undepFunds" type="xsd:boolean" minOccurs="0"/>
                    <element name="applyList" type="tranCust:CustomerDepositApplyList" minOccurs="0"/>
                    <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
                </sequence>
                <!-- primary record internalId -->
                <attribute name="internalId" type="xsd:string"/>
                <attribute name="externalId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CustomerDepositApply">
        <sequence>
            <element name="doc" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="apply" type="xsd:boolean" minOccurs="0"/>
            <element name="applyDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="type" type="xsd:string" minOccurs="0"/>
            <element name="refNum" type="xsd:string" minOccurs="0"/>
            <element name="total" type="xsd:double" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
            <element name="job" type="xsd:string" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CustomerDepositApplyList">
        <sequence>
            <element name="customerDepositApply" type="tranCust:CustomerDepositApply" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <!-- customerDeposit/end -->
    <!-- depositApplication/start -->
    <element name="DepositApplication" type="tranCust:DepositApplication"/>
    <complexType name="DepositApplication">
        <complexContent>
            <extension base="platformCore:Record">
                <sequence>
                    <element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="lastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="arAcct" type="xsd:string" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="customer" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="tranDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="postingPeriod" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="deposit" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="depDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="currency" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="exchangeRate" type="xsd:double" minOccurs="0"/>
                    <element name="memo" type="xsd:string" minOccurs="0"/>
                    <element name="subsidiary" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="total" type="xsd:double" minOccurs="0"/>
                    <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="applied" type="xsd:double" minOccurs="0"/>
                    <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="unapplied" type="xsd:double" minOccurs="0"/>
                    <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="tranId" type="xsd:string" minOccurs="0"/>
                    <element name="applyList" type="tranCust:DepositApplicationApplyList" minOccurs="0"/>
                    <element name="customFieldList" type="platformCore:CustomFieldList" minOccurs="0"/>
                </sequence>
                <!-- primary record internalId -->
                <attribute name="internalId" type="xsd:string"/>
                <attribute name="externalId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DepositApplicationApply">
        <sequence>
            <element name="doc" type="xsd:long" minOccurs="0"/>
            <element name="line" type="xsd:long" minOccurs="0"/>
            <element name="apply" type="xsd:boolean" minOccurs="0"/>
            <element name="applyDate" type="xsd:dateTime" minOccurs="0"/>
            <element name="job" type="xsd:string" minOccurs="0"/>
            <element name="type" type="xsd:string" minOccurs="0"/>
            <element name="refNum" type="xsd:string" minOccurs="0"/>
            <element name="total" type="xsd:double" minOccurs="0"/>
            <element name="due" type="xsd:double" minOccurs="0"/>
            <element name="currency" type="xsd:string" minOccurs="0"/>
            <element name="amount" type="xsd:double" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="DepositApplicationApplyList">
        <sequence>
            <element name="apply" type="tranCust:DepositApplicationApply" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="replaceAll" type="xsd:boolean" default="true"/>
    </complexType>
    <!-- depositApplication/end -->
    <!-- charge/start -->
    <element name="charge" type="tranCust:Charge"/>
    <complexType name="Charge">
        <complexContent>
            <extension base="platformCore:Record">
                <sequence>
                    <element name="customForm" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="salesOrder" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="billTo" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="stage" type="tranCustTyp:ChargeStage" minOccurs="0"/>
                    <element name="chargeDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="use" type="tranCustTyp:ChargeUse" minOccurs="0"/>
                    <element name="chargeType" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="projectTask" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="description" type="xsd:string" minOccurs="0"/>
                    <element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
                    <element name="timeRecord" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="rate" type="xsd:string" minOccurs="0"/>
                    <element name="quantity" type="xsd:double" minOccurs="0"/>
                    <element name="amount" type="xsd:double" minOccurs="0"/>
                    <element name="billingItem" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="currency" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="transaction" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="transactionLine" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="class" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="department" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="location" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="salesOrderLine" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="invoice" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="invoiceLine" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="rule" type="platformCore:RecordRef" minOccurs="0"/>
                    <element name="runId" type="xsd:string" minOccurs="0"/>
                </sequence>
                <!-- primary record internalId -->
                <attribute name="internalId" type="xsd:string"/>
                <attribute name="externalId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="chargeSearch" type="tranCust:ChargeSearch"/>
    <complexType name="ChargeSearch">
        <complexContent>
            <extension base="platformCore:SearchRecord">
                <sequence>
                    <element name="basic" type="platformCommon:ChargeSearchBasic" minOccurs="0"/>
                    <element name="invoiceJoin" type="platformCommon:TransactionSearchBasic" minOccurs="0"/>
                    <element name="jobJoin" type="platformCommon:JobSearchBasic" minOccurs="0"/>
                    <element name="salesOrderJoin" type="platformCommon:TransactionSearchBasic" minOccurs="0"/>
                    <element name="timeJoin" type="platformCommon:TimeBillSearchBasic" minOccurs="0"/>
                    <element name="transactionJoin" type="platformCommon:TransactionSearchBasic" minOccurs="0"/>
                    <element name="userJoin" type="platformCommon:EmployeeSearchBasic" minOccurs="0"/>
                    <element name="customSearchJoin" type="platformCommon:CustomSearchJoin" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ChargeSearchAdvanced">
        <complexContent>
            <extension base="platformCore:SearchRecord">
                <sequence>
                    <element name="criteria" type="tranCust:ChargeSearch" minOccurs="0"/>
                    <element name="columns" type="tranCust:ChargeSearchRow" minOccurs="0"/>
                </sequence>
                <attribute name="savedSearchId" type="xsd:string"/>
                <attribute name="savedSearchScriptId" type="xsd:string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ChargeSearchRow">
        <complexContent>
            <extension base="platformCore:SearchRow">
                <sequence>
                    <element name="basic" type="platformCommon:ChargeSearchRowBasic" minOccurs="0"/>
                    <element name="invoiceJoin" type="platformCommon:TransactionSearchRowBasic" minOccurs="0"/>
                    <element name="jobJoin" type="platformCommon:JobSearchRowBasic" minOccurs="0"/>
                    <element name="salesOrderJoin" type="platformCommon:TransactionSearchRowBasic" minOccurs="0"/>
                    <element name="timeJoin" type="platformCommon:TimeBillSearchRowBasic" minOccurs="0"/>
                    <element name="transactionJoin" type="platformCommon:TransactionSearchRowBasic" minOccurs="0"/>
                    <element name="userJoin" type="platformCommon:EmployeeSearchRowBasic" minOccurs="0"/>
                    <element name="customSearchJoin" type="platformCommon:CustomSearchRowBasic" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- charge/end -->
</schema>
